<app-user-logged-navbar></app-user-logged-navbar>
<div class="container">
  <div *ngIf="users.length > 0">
    <h1 class="cl-purple">Busca acompañante para el evento</h1>

    <div
      *ngFor="let user of users"
      class="row bg-purple userEntry"
      (click)="this.createChat(user.userName)"
    >
      <img
        class="profileImage col-4"
        src="{{ this.setUserImg(user.profileImage) }}"
        alt="{{ user.userName }} profile image"
      />
      <div class="col-4">
        <h4 class="text-white">{{ user.fullName }}</h4>
        <span>@{{ user.userName }}</span>
      </div>
      <p *ngIf="user.description != null" class="userDesc col-3">
        {{ this.reduceUserDesc(user.description, 50) }}
      </p>
    </div>
  </div>

  <div *ngIf="users.length == 0">
    <h1 class="text-white">Todavía nadie sigue este evento :(</h1>
  </div>
</div>
