h1 {
  color: black;
  text-align: center;
}
.form-floating {
  margin-left: 24%;
}

select {
  width: 50%;
  margin-left: 24%;
}

.select-error {
  font-size: 10.5pt;
  margin-left: 24%;
  width: 50%;
}

button {
  margin-left: 43%;
  font-size: 18pt;
}

.profileImage > input {
  display: none;
}

.selectImage {
  cursor: pointer;
  border-radius: 10px;
  margin-left: 66%;
  width: 55%;
  height: 30%;
  transition: width 0.7s, height 0.7s;
}
.selectImage:hover {
  width: 58%;
  height: 33%;
}

.formDiv {
  margin-bottom: 5%;
}
