h1 {
  color: black;
  text-align: center;
}
.form-floating {
  margin-left: 24%;
}

select {
  width: 50%;
  margin-left: 24%;
}

.select-error {
  font-size: 10.5pt;
  margin-left: 24%;
  width: 50%;
}

button {
  font-size: 18pt;
}

.profileImage > input {
  display: none;
  text-align: center;
}

.selectImage {
  cursor: pointer;
  border-radius: 10px;
  width: 55%;
  height: 55%;
  transition: width 0.7s, height 0.7s;
}
.selectImage:hover {
  width: 60%;
  height: 60%;
}

.formDiv {
  margin-bottom: 5%;
}

.container {
  text-align: center;
}
a {
  text-align: center;
  color: black;
}
