<app-logged-navbar></app-logged-navbar>
<div class="container">
  <div *ngIf="event.eventName" class="row">
    <h1 class="cl-purple">{{ event.eventName }}</h1>
    <div class="col-xl-6 col-sm-12 sol-md-12">
      <div class="bands">
        <div *ngFor="let art of artists">
          <a class="band" routerLink="/artist/{{ art.userName }}">{{
            art.fullName
          }}</a
          ><br />
        </div>
      </div>
      <h5 class="text-white">{{ this.formatDate(event.eventDate) }}</h5>
      <h5 class="text-white">{{ event.eventLocation }}</h5>
      <a
        class="tickets"
        *ngIf="event.ticketsUrl != null"
        href="{{ event.ticketsUrl }}"
        >Comprar entradas</a
      >
      <div class="text-white" *ngIf="event.details != null">
        <h5>Detalles:</h5>
        <p class="details">{{ event.details }}</p>
      </div>

      <button class="btn btn-warning searchPeopleBtn">BUSCA A ALGUIEN</button>
    </div>
    <div class="col-xl-6 col-sm-12 sol-md-12 col2">
      <img
        class="eventImg rounded img-thumbnail"
        src="{{ event.eventImage }}"
        alt="{{ event.eventName }}"
      />
      <br />
      <div *ngIf="event.following">
        <button
          (click)="unfollowEvent(event.id)"
          class="btn btn-primary"
          id="followButton"
        >
          SIGUIENDO
        </button>
      </div>
      <div *ngIf="!event.following">
        <button
          (click)="followEvent(event.id)"
          class="btn btn-primary"
          id="followButton"
        >
          SEGUIR
        </button>
      </div>
    </div>
  </div>
</div>
