h1 {
  margin-top: 3%;
}

:host ::ng-deep .eventParentDiv {
  margin-top: 4%;
  margin-left: 15%;
  margin-right: 15%;
}

:host ::ng-deep h2 {
  margin-bottom: 2%;
}

:host ::ng-deep a h5:hover {
  color: #c7b2e2;
}

:host ::ng-deep .searchPeopleBtn {
  margin-top: 3%;
  font-size: 18pt;
  font-weight: bold;
  padding: 2%;
}

:host ::ng-deep hr {
  margin-top: 3%;
  height: 3px;
  color: rgb(139, 147, 147);
}

:host ::ng-deep .eventImg {
  width: 45%;
  margin-top: -33%;
}

:host ::ng-deep .col2 {
  text-align: right;
}

:host ::ng-deep .col2 button {
  font-size: 18pt;
  font-weight: bold;
  padding: 2%;
  margin-top: 2%;
  margin-right: 12%;
}
