<div *ngIf="rol == 'user'">
  <app-user-logged-navbar></app-user-logged-navbar>
</div>
<div *ngIf="rol == 'artist'">
  <app-artist-logged-navbar></app-artist-logged-navbar>
</div>
<div class="container">
  <div *ngIf="event.eventName" class="row">
    <h1 class="cl-purple">{{ event.eventName }}</h1>
    <div class="col-xl-6 col-sm-12 sol-md-12">
      <div class="bands">
        <div *ngFor="let art of event.artists">
          <a class="band" routerLink="/artists/{{ art.userName }}">{{
            art.fullName
          }}</a
          ><br />
        </div>
      </div>
      <h5 class="text-white">{{ this.formatDate(event.eventDate) }}</h5>
      <h5 class="text-white">{{ event.eventLocation }}</h5>
      <a class="tickets" *ngIf="event.ticketsUrl" href="{{ event.ticketsUrl }}"
        >Comprar entradas</a
      >
      <div class="text-white" *ngIf="event.details">
        <h5>Detalles:</h5>
        <p class="details">{{ event.details }}</p>
      </div>
      <h5 class="text-white">
        Personas siguiendo este evento: {{ event.followers }}
      </h5>

      <button
        class="btn btn-warning searchPeopleBtn"
        routerLink="/event-chats/{{ event.id }}"
        *ngIf="rol == 'user'"
      >
        BUSCA A ALGUIEN
      </button>
      <button
        class="btn btn-primary searchPeopleBtn"
        routerLink="/edit-event/{{ event.id }}"
        *ngIf="rol == 'artist' && event.editionAllowed"
      >
        EDITAR EVENTO
      </button>
      <button
        class="btn btn-danger searchPeopleBtn"
        data-bs-toggle="modal"
        data-bs-target="#deleteModal"
        *ngIf="rol == 'artist' && event.performing && !event.editionAllowed"
      >
        QUITARME DE ESTE EVENTO
      </button>
    </div>
    <div class="col-xl-6 col-sm-12 sol-md-12 col2">
      <img
        class="eventImg rounded img-thumbnail"
        src="{{ event.eventImage }}"
        alt="{{ event.eventName }}"
      />
      <br />
      <div *ngIf="event.following && rol == 'user'">
        <button
          (click)="unfollowEvent(event.id)"
          class="btn btn-primary"
          id="followButton"
        >
          SIGUIENDO
        </button>
      </div>
      <div *ngIf="!event.following && rol == 'user'">
        <button
          (click)="followEvent(event.id)"
          class="btn btn-primary notFollowing"
          id="followButton"
        >
          SEGUIR
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Remove artist from event modal -->
<div
  class="modal fade"
  id="deleteModal"
  tabindex="-1"
  aria-labelledby="deleteModalLabel"
  aria-hidden="true"
  *ngIf="rol == 'artist' && event.performing && !event.editionAllowed"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">
          ¿Estás seguro de quitarte de este evento?
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body text-center">
        <p class="text-danger">
          Solamente el creador del evento podrá volver a añadire. Además, si no
          hay más artistas, <b>el evento también se eliminará.</b>
        </p>
        <h5>¿Deseas borrarlo de todas formas?</h5>
        <div class="deleteModalButtons">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            style="margin-right: 5%"
          >
            Cancelar
          </button>
          <button
            type="button"
            class="btn btn-danger"
            (click)="deleteArtistFromEvent()"
            data-bs-dismiss="modal"
          >
            BORRARME DE EVENTO
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
