h1 {
  margin-top: 4%;
  margin-bottom: 5%;
  font-size: 5em;
}
h5 {
  margin-top: 2%;
  font-size: 1.5em;
}

.tickets {
  color: #fbfbfb;
  font-size: 1.5em;
}
.tickets:hover {
  color: #c7b2e2;
}

.searchPeopleBtn {
  margin-top: 3%;
  font-size: 18pt;
  font-weight: bold;
  padding: 2%;
}

.eventImg {
  width: 60%;
}

.col2 {
  text-align: center;
}

.col2 button {
  font-size: 18pt;
  font-weight: bold;
  padding: 2%;
  margin-top: 2%;
}

#content {
  margin-top: 8%;
}

.band {
  color: #fbfbfb;
  font-size: 2em;
  text-decoration: none;
  cursor: pointer;
}
.bands {
  margin-bottom: 7%;
}

.band:hover {
  color: #c7b2e2;
}

.details {
  font-size: 1.2em;
}
