<app-artist-logged-navbar></app-artist-logged-navbar>
<div class="container">
  <div
    *ngIf="eventsPerformed.length == 0 && eventsCreated.length == 0"
    class="noEvents"
  >
    <h2 class="text-white">¿Todavía no estás en ningún evento? :(</h2>
    <br /><br />
    <button class="btn btn-primary" routerLink="/new-event">
      CREA TU PRIMER EVENTO
    </button>
  </div>
  <br />
  <!-- Created events -->
  <div *ngIf="eventsCreated.length > 0">
    <a routerLink="/events/created"
      ><h3 class="cl-purple">Eventos creados por ti</h3></a
    >
    <div class="row" id="eventsByUser">
      <div
        *ngFor="let event of eventsCreated | slice: 0:4; let i = index"
        class="card col-xl-3 col-md-6 col-sm-12"
        (click)="this.navigate('/events/' + event.id)"
      >
        <img
          class="card-img-top"
          src="{{ event.eventImage }}"
          alt="{{ event.eventName }}"
        />
        <div class="card-body">
          <h5 class="card-title bg-lightpurple">{{ event.eventName }}</h5>
          <p class="card-text">
            {{ formatDate(event.eventDate) }} <br />
            Seguidores: {{ event.followers }}
          </p>
        </div>
      </div>
    </div>
    <br /><br />
  </div>

  <!-- Performed events -->
  <div *ngIf="eventsPerformed.length > 0">
    <a routerLink="/events/performed"
      ><h3 class="cl-purple">Eventos en los que participas</h3></a
    >
    <div class="row" id="eventsByUser">
      <div
        *ngFor="let event of eventsPerformed | slice: 0:4; let i = index"
        class="card col-xl-3 col-md-6 col-sm-12"
        (click)="this.navigate('/events/' + event.id)"
      >
        <img
          class="card-img-top"
          src="{{ event.eventImage }}"
          alt="{{ event.eventName }}"
        />
        <div class="card-body">
          <h5 class="card-title bg-lightpurple">{{ event.eventName }}</h5>
          <p class="card-text">
            {{ formatDate(event.eventDate) }} <br />
            Seguidores: {{ event.followers }}
          </p>
        </div>
      </div>
    </div>
    <br /><br />
  </div>
</div>
