h1 {
  color: black;
  text-align: center;
}

.form-floating {
  margin-left: 24%;
}

button {
  font-size: 18pt;
}

a {
  text-align: center;
  color: black;
}

a:hover {
  color: rgb(62, 60, 60);
}

.container {
  text-align: center;
}
