<app-artist-logged-navbar></app-artist-logged-navbar>
<div class="container">
  <div>
    <h1 class="cl-purple">Eventos que sigues</h1>
    <h2 *ngIf="events.length == 0" class="text-white" id="titleEvents">
      Todavía no participas en ningún evento
    </h2>
  </div>
  <div *ngIf="events.length > 0">
    <div class="row" *ngFor="let ev of events">
      <div class="col-xl-6 col-sm-12 sol-md-12">
        <a class="eventName" routerLink="/events/{{ ev.id }}">{{
          ev.eventName
        }}</a>
        <h5 class="text-white">{{ this.formatDate(ev.eventDate) }}</h5>
        <h5 class="text-white">{{ ev.eventLocation }}</h5>
        <h5 class="text-white">
          Personas siguiendo este evento: {{ ev.followers }}
        </h5>
      </div>
      <div class="col-xl-6 col-sm-12 sol-md-12 col2">
        <img
          class="eventImg rounded img-thumbnail"
          src="{{ ev.eventImage }}"
          alt="{{ ev.eventName }}"
        />
        <br />
      </div>
      <hr />
    </div>
  </div>
</div>
