@import url("~bootstrap/dist/css/bootstrap.min.css");

:root {
  --navbar-dark: #22272e;
  --body-back: #373d46;
  --main-purple: #9e73d3;
  --main-purple-hover: #c7b2e2;
}

.cl-purple {
  color: var(--main-purple);
}
.bg-purple {
  background-color: var(--main-purple);
}

.cl-lightpurple {
  color: var(--main-purple-hover);
}

.bg-lightpurple {
  background-color: var(--main-purple-hover);
}

.btn-primary {
  font-size: 18pt;
  background-color: var(--main-purple);
  border-color: var(--main-purple);
  color: var(--navbar-dark);
}

.btn-primary:hover {
  background-color: var(--main-purple-hover);
  color: var(--navbar-dark);
  border-color: var(--main-purple);
}

.btn-primary:active {
  background-color: var(--main-purple-hover);
  color: var(--navbar-dark);
  border-color: var(--main-purple);
  box-shadow: 0 0 0 0.25rem rgba(176, 92, 255, 0.5);
}

.btn-primary:focus {
  background-color: var(--main-purple-hover);
  color: var(--navbar-dark);
  border-color: var(--main-purple);
  box-shadow: 0 0 0 0.25rem rgba(176, 92, 255, 0.5);
}

.navbar {
  z-index: 99;
  position: sticky;
  top: 0px;
}
.dropdown-icon {
  width: 50px;
  height: 50px;
}

.invalid-feedback {
  color: black;
  padding: 1%;
  border-radius: 5px;
  margin-top: 1%;
}
.formDiv {
  margin-left: 10%;
  margin-right: 10%;
  padding: 2%;
  margin-top: 5%;
  border-radius: 20px;
}

.spinner-border {
  position: absolute;
  z-index: 999;
  margin-left: 10%;
  margin-top: 1%;
  width: 50px;
  height: 50px;
}
body {
  background-color: var(--body-back);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 66.5vh;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.alert-danger {
  border-color: rgb(144, 0, 0);
  color: rgb(144, 0, 0);
  background-color: rgb(254, 115, 115);
  z-index: 100;
  position: fixed;
  width: 25%;
  margin-left: 37%;
  font-size: 2em;
  top: 15%;
}

.footer {
  text-align: center;
  display: flex;
  flex-direction: row;
  padding: 2%;
  position: relative;
  bottom: 0;
  margin: 0;

  font-size: 14pt;
  background-color: var(--navbar-dark);
  margin-top: 5%;
}

.footer img {
  width: 100px;
  height: 60px;
}

.footer img:hover {
  filter: brightness(1.6);
}

.notFollowing {
  background-color: beige;
}

.navbar-icon:hover {
  filter: brightness(1.6);
}

.navbar-brand img {
  width: 100px;
}
.navbar-brand img:hover {
  filter: brightness(1.6);
}
